.cw-card-dislike {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    display: none;
}

.cw-card-dislike:hover * {
    fill: var(--color-primary);
}

.cw-card:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cw-card:hover .cw-card-dislike {
    display: block;
}