.cw-card-dislike {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    display: none;
}

.cw-card-dislike:hover * {
    fill: var(--color-warning);
}

.cw-card:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cw-card:hover .cw-card-dislike {
    display: block;
}

.cw-starwars-card {
    height: 27rem;
}

.cw-starwars-card-btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.cw-starwars-dislike {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
}

.cw-starwars-dislike * {
    fill: var(--color-primary);
}

.cw-starwars-dislike:hover * {
    fill: var(--color-warning);
}