/* Sidebar */
.cw-sidebar {
    transition: width 0.5s ease-in-out;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.cw-sidebar-nav {
    color: aliceblue;
    position: relative;
}

.cw-sidebar-nav:hover {
    position: relative;
    color: var(--color-primary);
}

.cw-sidebar-nav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: aliceblue;
    transition: width 0.4s ease-in-out;
}

.cw-sidebar-nav:hover::after {
    width: 100%;
}

.cw-sidebar-nav-link {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    transition: opacity 0.5s ease-in, width 0.5s ease-in-out;
    z-index: 3;
}

.cw-sidebar-nav-link-expand {
    opacity: 1;
}

.cw-sidebar-nav-link-collapse {
    opacity: 0;
    pointer-events: none;
}

.cw-sidebar-logo-link {
    font-size: 1.2rem;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.cw-sidebar-logo-link-expand {
    opacity: 1;
    transform: translateX(0);
}

.cw-sidebar-logo-link-collapse {
    opacity: 0;
    transform: translateX(-100%);
}

.cw-sidebar-logo-icon {
    position: absolute;
    font-size: 2.5rem;
    right: 0.5rem;
}

@media screen and (max-width: 730px) {
    .cw-sidebar-logo-link {
        font-size: 0.7rem;
    }
    .cw-sidebar-nav-link {
        font-size: 0.7rem;
    }
    .cw-sidebar-logo-icon {
        font-size: 1.8rem;
        right: 0.85rem;
    }
}